
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Image Classification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .f-container{
        display:flex;
        flex-direction:column;
        margin-top:20px;
    }

    .inp-label{
    
        text-align:center;
    }  
    .inp-container{
        width:80%;
        margin: 10px auto;
    }
    .desc h2{
        margin:20px 0;
        font-size:24px;
    }
</style>

</head>
<body>

<div class="container">
  <h1 class="jumbotron  bg-primary">brain tumor detection and Classfication </h1>
  <br><br>
  <div class="desc">
      <h2 class="font-weight-bold">This Web Page does the following functions. </h2>
      <h2 class="font-weight-bold">1. Transform the input(uploaded) images into an array form.</h2>
      <h2 class="font-weight-bold">2.Submit an image to our algorithm to classify the MRI image.</h2>
      <h2 class="font-weight-bold">3. Display the predicted image with the tumor type. </h2>
  </div>
  <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">

    <div class="form-group f-container">
      <label class=" mb-4 text-center inp-label" for="pwd">Upload Your Image for tumor detection :</label>
      <div class="inp-container">          
        <input type="file" class="form-control" placeholder="Hours Studied"  name="my_image" id="pwd">
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>

	{% if prediction %}
  <img src="{{img_path}}" height="400px" width="400px">
	<h2>Prediction   : <i> {{prediction}} </i></h2>

	{% endif %}

</div>







</body>
</html>








